<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://cxf.apache.org/jaxws
       http://cxf.apache.org/schemas/jaxws.xsd
       http://cxf.apache.org/core
       http://cxf.apache.org/schemas/core.xsd">

	<context:component-scan base-package="com.iwooto.webservice" />

	<bean id="wss4jOutInterceptor" class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">
		<constructor-arg>
			<map>
				<!-- 用户认证（明文密码） -->
				<entry key="action" value="UsernameToken" />
				<entry key="user" value="client" />
				<entry key="passwordType" value="PasswordText" />
				<entry key="passwordCallbackRef" value-ref="clientPasswordCallback" />
			</map>
		</constructor-arg>
	</bean>

	<jaxws:client id="messageService"
		serviceClass="com.iwooto.webservice.MessageImpl"
		address="http://127.0.0.1:8080/weixin/WebService/messageService">
		<jaxws:outInterceptors>
			<ref bean="wss4jOutInterceptor" />
		</jaxws:outInterceptors>
	</jaxws:client>

	<cxf:bus>
		<cxf:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</cxf:features>
	</cxf:bus>

</beans>